a {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 30px;
    left: 101px;
    width: 120px;
    height: 30px;
    background-color: #030303;
    color: rgb(182, 182, 182);
    margin: -12.5px 0 0 -75px;
    text-align: center;
    padding-top: 10px;
    border-radius: 2px;
    font-family: Verdana;
    font-size: 15px;
}
form {
    position: absolute;
    left: 50%;
    width: 500px;
    margin: 0 0 0 -250px;
    top: 15%;
    font-family: Verdana;
}
form input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.registerbtn {
    background-color: #020202;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 106%;
    opacity: 0.9;
}
.error {
    display: block;
    width: 300px;
    height: auto;
    border: 1px solid rgb(175, 8, 8);
    border-radius: 2px;
    background-color: rgba(196, 34, 34, 0.534);
    color: rgb(97, 33, 33);
    margin: 0;
    padding: 5px;
}
#error-container {
    position: absolute;
    right: 10px;
    top: 10px;
}
