#searchbar {
    margin: 25px;
    margin-left: 20px;
}
a {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 150px;
    height: 25px;
    background-color: #19458c;
    color: white;
    margin: -12.5px 0 0 -75px;
    text-align: center;
    padding-top: 10px;
    border-radius: 7px;
    font-family: Verdana;
    font-size: 15px;
}
#search_submit {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 30px;
    left: 36%;
    width: 150px;
    height: 32px;
    background-color: #19458c;
    color: white;
    margin: -12.5px 0 0 10%;
    text-align: center;
    padding-top: 4px;
    border-radius: 7px;
    font-family: Verdana;
    font-size: 15px;
}
.map {
    margin-top: -10px;
    height: 865px;
    width: 100%;
}
.result {
    position: absolute;
    top: 10px;
    left: 41%;
    color: red;
    font-family: Verdana;
}
html,
body {
    margin: 0;
    padding: 0;
}
